html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;

    &::-webkit-scrollbar {
        width: 8px;
    }
    
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #332f2c;
        border-radius: 20px;
    }
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 4rem;
    background-image: url('/weather-bg/sunny.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    * {
        font-family: "Abyssinica SIL", serif;
        font-weight: 400;
        font-style: normal;
    }
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    gap: 2rem;
}

.content-wrapper {
    width: 100%;
    max-width: 1728px;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 1rem;
}